<div>
	<div id="new_project_wrapper">
		<%= render :partial => 'projects/form' %>
	</div>
	<div id="all_proj_list">
	<h3>Listing all Projects</h3>
	<table class="home_projects_table">
		<tr class="header-row">
			<th>Project Name</th>
			<th>Description</th>
			<th>Created On</th>
			<th>Status</th>
			<th></th>
			<th>Actions</th>
			<th></th>
		</tr>
		
		<% @projects.each do |project| %>
			<tr class="<%= cycle('even', 'odd') %>">
				<td class="project_name"><%= project.project_name %></td>
				<td class="project_descript"><%= project.project_description %></td>
				<td><%= project.created_at %></td>
				<% if project.project_status.nil? %>
					<td class="status_cell">Not Complete</td>
				<% elsif project.project_status == 1 %>
					<td class="status_cell">Complete</td>
				<% else %>
					<td class="status_cell">Not Complete</td>
				<% end %>
				<td></td>
				<td><span class="delete_btn" id="<%= project.id %>">Delete</span></td>
				<%= render :partial => 'delete_pannel', :locals => {:id => project.id} %>
				<td><%= link_to 'Edit', edit_project_path(project.id) %></td>
			</tr>
		<% end %>
	</table>
</div>
</div>