<!DOCTYPE html>
<html>
<head>
  <title>ProjectList</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="translucent_overlay"></div>
	<div id="wrapper">
		<% if !user_signed_in? %>
			<%= image_tag 'floating_paper.jpg', :id => 'left-img' %>
		<% end %>

		<% if user_signed_in? %>
			<%= render :partial => 'shared/top_nav' %>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>