<!DOCTYPE html>
<html>
<head>
  <title>ProjectList</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<%= render :partial => 'shared/top_nav' %>
		<%= yield %>
	</div>
</body>
</html>
